@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap');

h1{
  font-size: 40px;
}
h2{
  font-size: 38px;
}
h3{
  font-size: 34px;
}
h4{
  font-size: 32px;
}
h5{
  font-size: 30px;
  &._sm{
    font-size: 24px;
  }
}
h6{
  font-size: 20px;
}
p{
  font-size: 24px;

  &._sm{
    font-size: 20px;
  }
}

//max-width: 1160px
@mixin typography-xxl {
  h1 {
    font-size: 38px;
  }
  p{
    font-size: 22px;

    &._sm{
      font-size: 18px;
    }
  }
}
//max-width: 1025px
@mixin typography-xl {
  h1 {
    font-size: 38px;
  }
}
//max-width: 940px
@mixin typography-lg {
  h1 {
    font-size: 36px;
  }

  p{
    font-size: 20px;
    &._sm{
      font-size: 16px;
    }
  }
}
//max-width: 768px
@mixin typography-xmd {
  h1 {
    font-size: 36px;
  }
  p{
    font-size: 18px;

    &._sm{
      font-size: 14px;
    }
  }
}
//max-width: 560px
@mixin typography-sm {
  h1 {
    font-size: 32px;
  }

  p{
    font-size: 16px;
    &._sm{
      font-size: 12px;
    }
  }
}
//max-width: 460px
@mixin typography-xsm {
  h1 {
    font-size: 32px;
  }
  p{
    font-size: 14px;
  }
}